nav{
  background-color: rgb(3, 161, 61);
  margin-bottom: 1%;
}

body{
  margin: 0;
  font-family: Roboto "Helvetica Neue" sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

td .btn-group button{
  margin: 15px;
}
