<div class="container-fluid">

  <div class="row title">
      <h2 id="title">
        Acessibilidade - Material Digital - Dinâmicas Online - Salas Virtuais
      </h2>
  </div>

  <div class="row">

    <div class="col-6">
      <h3>Educação moderna e acessível</h3>

      <p>
        Li=opdsdspdsmmsvm sfmsfjsfkslçkfsdkfdsf sdnfsjfdfdskvnsvsda[ dsf fmsmfm
        msfm df0 0 0sdfdsfsfds fsdssf fsd]
      </p>

      <button type="button" cursor="active" class="btnEnter">
        <a class="navbar-brand" href="#">CADASTRE-SE</a>
      </button>
    </div>

    <div class="col-6" id="imageMetaVerso">
      <img height="100%" width="120%" src="">
    </div>
  </div>

</div>
